* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Base style for all modules */
.modules-left,
.modules-center,
.modules-right {
    background-color: #282828;
    border-radius: 15px;
    padding: 2px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid #3c3836;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #a89984;
    border-radius: 10px;
    margin: 3px 2px;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background: #3c3836;
    color: #ebdbb2;
    box-shadow: none;
    border: none;
}

#workspaces button.active {
    background-color: #d79921;
    color: #282828;
    min-width: 40px;
    background-size: 400% 400%;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray {
    padding: 0 15px;
    margin: 0 5px;
    color: #282828;
    border-radius: 12px;
}

/* Gruvbox Pill Colors */
#clock {
    background-color: #fabd2f;
    /* Yellow */
    margin: 0;
}

#battery {
    background-color: #b8bb26;
    /* Green */
}

#battery.charging,
#battery.plugged {
    background-color: #d79921;
    /* Orange */
}

#battery.critical:not(.charging) {
    background-color: #fb4934;
    /* Red */
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background-color: #fe8019;
    /* Orange */
}

#memory {
    background-color: #d3869b;
    /* Purple */
}



#pulseaudio {
    background-color: #83a598;
    /* Blue */
}

#pulseaudio.muted {
    background-color: #928374;
    color: #282828;
}

#tray {
    background-color: #3c3836;
}